force-app/main/default/flows/Sample_Fee_Payment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_var</name>
        <label>Set var</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_regulatoryTransactionFeeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Regulatory_Transaction_Fee.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fee_Items</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Payment_Complete</name>
        <label>Is Payment Complete?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Complete</defaultConnectorLabel>
        <rules>
            <name>Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_paymentComplete</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Payment_Record</targetReference>
            </connector>
            <label>Complete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>used to write a payment record</description>
        <name>formula_total</name>
        <dataType>Currency</dataType>
        <expression>IF(
  OR(ISNULL({!var_total}), ISBLANK({!var_total})),
  0,
  VALUE(
    SUBSTITUTE(
      SUBSTITUTE(
        SUBSTITUTE({!var_total}, &quot;$&quot;, &quot;&quot;),
      &quot;,&quot;, &quot;&quot;),
    &quot; &quot;, &quot;&quot;)
  )
)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Sample Fee Payment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sample Fee Payment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fee_Items</name>
        <label>Create Fee Item 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PaymentScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>FeeAmount</field>
            <value>
                <elementReference>var_feeItemAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>var_feeItemName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RegulatoryTrxnFeeId</field>
            <value>
                <elementReference>var_regulatoryTransactionFeeId</elementReference>
            </value>
        </inputAssignments>
        <object>RegulatoryTrxnFeeItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment_Record</name>
        <label>Create Payment Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Fee_to_Paid</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>formula_total</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>var_ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessingMode</field>
            <value>
                <stringValue>External</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Regulatory_Transaction_Fee__c</field>
            <value>
                <elementReference>var_regulatoryTransactionFeeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Processed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Sale</stringValue>
            </value>
        </inputAssignments>
        <object>Payment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Regulatory_Transaction_Fee</name>
        <label>Create Regulatory Transaction Fee</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_var</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_accountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>DUE</stringValue>
            </value>
        </inputAssignments>
        <object>RegulatoryTrxnFee</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Case_Contact_and_Account_ID</name>
        <label>Get Case Contact and Account ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Regulatory_Transaction_Fee</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>var_accountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>var_ContactId</assignToReference>
            <field>ContactId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Set_Fee_to_Paid</name>
        <label>Set Fee to Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Case_to_Paid</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_regulatoryTransactionFeeId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>PAID</stringValue>
            </value>
        </inputAssignments>
        <object>RegulatoryTrxnFee</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_to_Paid</name>
        <label>Update Case to Paid</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DMV_Payment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>PaymentScreen</name>
        <label>PaymentScreen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Is_Payment_Complete</targetReference>
        </connector>
        <fields>
            <name>paymentTerminal</name>
            <extensionName>c:paymentTerminal</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>RegulatoryTrxnFee</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>var_regulatoryTransactionFeeId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processingDurationSeconds</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>processingFeeAmount</name>
                <value>
                    <stringValue>6</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>autoAdvance</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>useFixedFee</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>var_paymentComplete</assignToReference>
                <name>paymentComplete</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_paymentJSON</assignToReference>
                <name>processedPayment</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>var_total</assignToReference>
                <name>transactionTotal</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case_Contact_and_Account_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>recordId the flow runs on</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_accountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_feeItemAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_feeItemName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sample Fee Payment</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_paymentComplete</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>var_paymentJSON</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_regulatoryTransactionFeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>stores the total from the LWC</description>
        <name>var_total</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
